.custom-date-input{
    border: transparent;
}
input[type='text']{
    border: none;
    outline: none;
    box-shadow: none;
}
.form-check-input{
    background-color: chocolate;
    border-color: chocolate;
}