<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title roboto fw-bold font-size-40 chocolate">Редактиране на профил</h5>
    </div>
    <div class="modal-body text-center">
        <form [formGroup]="editEmployeeForm" (ngSubmit)="editEmployee()" autocomplete="off">
            <div class="form-group pt-3">
                <div class="input-field my-2">
                    <span class="fa fa-user chocolate p-2"></span>
                    <input class="col-11" formControlName="newFirstName" type="text" placeholder="Ново първо име">
                </div>
                <div class="input-field my-2">
                    <span class="fa fa-user chocolate p-2"></span>
                    <input class="col-11" formControlName="newLastName" type="text" placeholder="Нова фамилия">
                </div>   
                <div class="input-field my-2">
                    <span class="fa fa-user chocolate p-2"></span>
                    <input class="col-11" formControlName="newPhoneNumber" type="text" placeholder="Нов телефонен номер">
                </div>           
                <div class="input-field my-3">
                    <span class="fa fa-calendar chocolate p-2"></span>
                    <span class="text-muted me-3">Нова дата на раждане:</span>
                    <input class="custom-date-input" formControlName="newBirthDate" type="date">
                </div>
                <div class="input-field my-2">
                    <span class="fa fa-user chocolate p-2"></span>
                    <input class="col-11" formControlName="newCity" type="text" placeholder="Нов град">
                </div>      
                <div class="input-field my-2">
                    <span class="fa fa-user chocolate p-2"></span>
                    <input class="col-11" formControlName="newCity" type="text" placeholder="Нов град">
                </div>     
                <div class="input-field my-2">
                    <span class="fa fa-picture-o chocolate p-2"></span>
                    <input class="col-11" type="file" (change)="onFileSelected($event)" accept="image/*">
                </div>
                <button type="button" class="btn btn-danger" (click)="deleteEmployeeAccount()">Изтриване на
                    акаунт</button>
                <div class="text-danger font-size-15 p-2">Внимание! Тази операция не може да бъде върната!</div>
            </div>
            <div class="form-floating" *ngIf="errorMessages.length > 0">
                <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Отказ</button>
        <button type="button" class="btn btn-chocolate" (click)="editEmployee()">Запази</button>
    </div>
</div>