<div class="modal-body">
    <div class="fw-bold theme-main h2">Редактиране на профил</div>
    <div>
        <form [formGroup]="editEmployeeForm" (ngSubmit)="editEmployee()" autocomplete="off">
            <div class="form-group">
                <div class="input-field">
                    <span class="fa fa-user theme-main p-2"></span>
                    <input formControlName="newFirstName" type="text"
                        placeholder="Ново първо име ({{employee?.firstName}})">
                </div>
                <div class="input-field">
                    <span class="fa fa-user theme-main p-2"></span>
                    <input formControlName="newLastName" type="text"
                        placeholder="Нова фамилия ({{employee?.lastName}})">
                </div>
                <div class="input-field">
                    <span class="fa fa-phone p-2"></span>
                    <input formControlName="newPhoneNumber" type="text"
                        placeholder="Нов телефонен номер ({{employee?.phoneNumber}})">
                </div>
                <div class="input-field">
                    <span class="fa fa-calendar p-2"></span>
                    <span class="text-muted">Обновете дата на раждане: </span>
                    <input class="custom-date-input text-muted" formControlName="newBirthDate" type="date">
                </div>
                <div class="input-field">
                    <span class="fa fa-map-pin p-2"></span>
                    <input type="text" placeholder="Търсете град" formControlName="newCity"
                        [(ngModel)]="searchLocationPropmt">
                    <div (click)="getSearchLocationResults()" data-bs-toggle="collapse"
                        data-bs-target="#collapseResults" id="collapseToggle">
                        <i class="fa-solid fa-magnifying-glass-location p-2"></i>
                    </div>
                </div>
                <div class="collapse" id="collapseResults">
                    <div class="city" *ngFor="let result of resultsLocationSearch" (click)="selectCity(result)">
                        {{result}}
                    </div>
                </div>
                <div class="input-field">
                    <span class="fa fa-picture-o p-2"></span>
                    <input type="file" (change)="onFileSelected($event)" accept="image/*">
                </div>
                <div class="input-field" *ngIf="employee">
                    <span class="fa fa-user p-2"></span>
                    <span class="text-muted">Търся си работа: </span>
                    <input class="checkbox-input m-2" type="checkbox" formControlName="isLookingForJob"
                        [(ngModel)]="employee.isLookingForJob">
                </div>
                <div class="input-field">
                    <span class="fa fa-lock p-2"></span>
                    <input formControlName="oldPassword" [type]="typeOld" placeholder="Текуща парола">
                    <span (click)="hideShowPassOld()" class="fa {{eyeIconOld}}"></span>
                </div>
                <div class="input-field">
                    <span class="fa fa-lock p-2"></span>
                    <input formControlName="newPassword" [type]="typeNew" placeholder="Нова парола">
                    <span (click)="hideShowPassNew()" class="fa {{eyeIconNew}}"></span>
                </div>
                <div *ngIf="submitted">
                    <div class="text-danger"
                        *ngIf="editEmployeeForm.get('newFirstName')?.hasError('minlength') || editEmployeeForm.get('newFirstName')?.hasError('maxlength')
                            || editEmployeeForm.get('newLastName')?.hasError('minlength') || editEmployeeForm.get('newLastName')?.hasError('maxlength')">
                        Името и фамилията трябва да са между 2 и 50 символа!
                    </div>
                    <div class="text-danger" *ngIf="editEmployeeForm.get('newCity')?.hasError('invalid')">
                        Невалиден град!
                    </div>
                    <div class="text-danger" *ngIf="editEmployeeForm.get('newPhoneNumber')?.hasError('pattern')">
                        Невалиден телефонен номер!
                    </div>
                </div>
            </div>
            <div class="form-floating" *ngIf="errorMessages.length > 0">
                <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
            </div>
        </form>
    </div>
    <div class="text-center">
        <div class="text-danger p-2">
            Внимание! След тази операция акаунтът не може да бъде върнат!
        </div>
        <button type="button" class="button btn-red" (click)="deleteEmployeeAccount()">
            Изтриване на акаунт
        </button>
    </div>
    <div class="buttons">
        <button type="button" class="button btn-gray" (click)="bsModalRef.hide()">Отказ</button>
        <button type="button" class="button btn-chocolate" (click)="editEmployee()">Запази</button>
    </div>
</div>