.btn-outline-dark{
    border-color:  transparent !important;
    text-shadow: 1px 1px black;
    color: chocolate;
}
.btn-outline-dark:hover{
    border-color:  transparent !important;
    background-color: lightgray;
}
.heading-font{
    font-family: Pacifico;
    text-decoration: none;
    text-shadow: 1px 1px black;
    font-size: 40px;
    color: chocolate;
}

