::ng-deep nav-top {
    display: flex;
    align-items: center;
    align-self: stretch;
}

::ng-deep .navbar {
    display: flex;
    align-items: center;
    padding: 0px 8px 0px 8px;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.collapse-body {
    justify-content: flex-end;
    gap: 4px;
}

.navbar-transparent {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.dropdown-toggle.show {
    background-color: rgb(255, 147, 17) !important;
    color: white;
}

.dropdown-toggle::after {
    display: none;
}

input[type=checkbox] {
    background-color: rgb(253, 227, 205) !important;
}

input[type=checkbox]:checked {
    background-color: chocolate !important;
    border-color: chocolate;
}