<header>
    <nav class="navbar navbar-expand navbar-light">
        <div class="container">
            <a class="nav-brand heading-font col-lg-11">
                <a routerLink="/" class="heading-font btn btn-outline-dark">
                    Ресторант Оптима
                </a>
            </a>
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-sm-5">
                <ul class="navbar-nav" *ngIf="(accountService.user$ | async) as user">
                    <li class="nav-item">
                        <a class="btn btn-outline-dark" (click)="logout()"><i class="fa fa-sign-out fa-3x"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>