<div *ngIf="employee">
  <div class="modal-header">
    <div class="modal-title roboto fw-bold font-size-40">Работник -
      <span class="fst-italic chocolate">{{employee.firstName}} {{employee.lastName}}</span>
    </div>
  </div>
  <div class="modal-body roboto font-size-20 m-2 d-flex">
    <div class="col-12">
      <div class="text-center">
        <img src="{{employee.profilePicturePath}}">
      </div>
      <div class="text-center mt-3">
        <div class="font-size-20">
          <div class="fw-bold fst-italic border-bottom py-1">Данни за потребителя</div>
          <div>Имейл: <span class="fst-italic chocolate">{{employee.email}}</span></div>
          <div>Град: <span class="fst-italic chocolate">{{employee.city}}</span></div>
          <div>Телефон: <span class="fst-italic chocolate">{{employee.phoneNumber}}</span></div>
          <div>Дата на раждане: <span class="fst-italic chocolate">{{employee.birthDate}}</span></div>
        </div>
        <div>
          Бързина / <app-star-rating [rating]="employee.speedAverageRating"></app-star-rating>
        </div>
        <div>
          Поведение / <app-star-rating [rating]="employee.attitudeAverageRating"></app-star-rating>
        </div>
        <div>
          Закъснения / <app-star-rating [rating]="employee.punctualityAverageRating"></app-star-rating>
        </div>
        <div>
          Колегиалност / <app-star-rating [rating]="employee.collegialityAverageRating"></app-star-rating>
        </div>
      </div>
      <div class="fw-bold text-center my-2">
        Средно / <app-star-rating [rating]="employee.employeeAverageRating"></app-star-rating>
      </div>
      <div class="border-top text-center py-2" *ngIf="currentUser?.isManager && currentManagersRestaurants">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle btn btn-outline-dark btn-yellow-inverted roboto font-size-30 mx-xl-2"
            role="button" data-bs-toggle="dropdown" aria-expanded="false"
            tooltip="Изберете ресторант, за който да изпратите заявка.">
            <span>{{selectedRestaurant?.name}}</span>
          </a>
          <ul class="dropdown-menu col-12 rest-list scrollable-vert">
            <div *ngFor="let restaurant of currentManagersRestaurants">
              <div class="font-size-20 chocolate border-bottom select-rest text-center py-1" (click)="selectRestaurant(restaurant)">
                {{restaurant.name}}
              </div>
            </div>
          </ul>
        </div>
        <button class="btn btn-chocolate my-2" (click)="sendWorkingRequest(selectedRestaurant.id)" *ngIf="selectedRestaurant">Изпращане на заявка за работа</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="manager">
  <div class="modal-header">
    <div class="modal-title roboto fw-bold font-size-40">Работник -
      <span class="fst-italic chocolate">{{manager.firstName}} {{manager.lastName}}</span>
    </div>
  </div>
</div>