<div class="modal-body" *ngIf="employee">
  <div class="fw-bold h1">Работник -
    <span class="fst-italic theme-main">{{employee.firstName}} {{employee.lastName}}</span>
  </div>
  <div class="main-info">
    <div class="img-info">
      <img class="empl-img" src="{{employee.profilePicturePath}}">
      <div class="user-info h4">
        <div>Имейл: <span class="fst-italic theme-main">{{employee.email}}</span></div>
        <div>Град: <span class="fst-italic theme-main">{{employee.city}}</span></div>
        <div>Телефон: <span class="fst-italic theme-main">{{employee.phoneNumber}}</span></div>
        <div>Дата на раждане: <span class="fst-italic theme-main">{{employee.birthDate}}</span></div>
      </div>
    </div>
    <div class="info-row">
      <div class="ratings h4">
        <div>
          Бързина / <app-star-rating [rating]="employee.speedAverageRating"></app-star-rating>
        </div>
        <div>
          Поведение / <app-star-rating [rating]="employee.attitudeAverageRating"></app-star-rating>
        </div>
      </div>
      <div class="ratings h4">
        <div>
          Закъснения / <app-star-rating [rating]="employee.punctualityAverageRating"></app-star-rating>
        </div>
        <div>
          Колегиалност / <app-star-rating [rating]="employee.collegialityAverageRating"></app-star-rating>
        </div>
      </div>
    </div>
    <div class="text-center fw-bold h4">
      Средно / <app-star-rating [rating]="employee.employeeAverageRating"></app-star-rating>
    </div>
    <div class="rest-request" *ngIf="currentUser?.isManager && currentManagersRestaurants">
      <div class="d-flex flex-direction-col">
        <button class="button btn-chocolate h6" type="button" data-bs-toggle="collapse" data-bs-target="#collapseConfirmed">
          <span>Изпратете заявка на {{employee.firstName}} за работа във Ваш ресторант</span>
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse" id="collapseConfirmed">
            <div class="restaurants text-muted my-2" *ngFor="let restaurant of currentManagersRestaurants" (click)="selectRestaurant(restaurant)">
                <div class="fw-bold">
                  {{restaurant.name}}
                </div>
            </div>
        </div>
    </div>
      <button class="button btn-green" (click)="sendWorkingRequest(selectedRestaurant.id)"
        *ngIf="selectedRestaurant">Изпращане на заявка за работа в {{selectedRestaurant.name}}</button>
    </div>
  </div>
</div>

<div class="modal-body" *ngIf="manager">
  <div class="fw-bold h1">Мениджър -
    <span class="fst-italic theme-main">{{manager.firstName}} {{manager.lastName}}</span>
  </div>
  <div class="main-info">
    <div class="img-info">
      <img class="empl-img" src="{{manager.profilePicturePath}}">
      <div class="user-info h4">
        <div>Имейл: <span class="fst-italic theme-main">{{manager.email}}</span></div>
        <div>Телефон: <span class="fst-italic theme-main">{{manager.phoneNumber}}</span></div>
        <div>Управлява: <span class="fst-italic theme-main">{{manager.restaurants.length}} ресторанта</span></div>
      </div>
    </div>
  </div>
</div>