<div class="max-height-70vh collapse-body scrollable-vert" *ngIf="manager"> <!--check is for easier code writing, not neccesary-->
    <div class="roboto m-3 fw-bold font-size-40 chocolate border-bottom">Вашият профил</div>
  <div class="roboto font-size-20 mx-4">
    <span class="row my-4">Здравейте, {{manager.firstName}} {{manager.lastName}}!</span>
    <span class="row my-4">Имейл: {{manager.email}}</span>
    <span class="row my-4" *ngIf="!manager.profilePicturePath">Все още нямате профилна снимка.</span>
    <span class="row m-2" *ngIf="manager.profilePicturePath">
      <img src="{{manager.profilePicturePath}}">
    </span>
  </div>
  <div class="text-end border-top">
    <button type="button" class="btn btn-chocolate mt-2 me-1" (click)="editManagerProfile()">Редактиране на данните</button>
    <button type="button" class="btn btn-secondary mt-2 me-1" (click)="bsModalRef.hide()">Затваряне</button>
  </div>
</div>
