<div class="max-height-90vh collapse-body scrollable-vert" *ngIf="employee">
  <!--check is for easier code writing, not neccesary-->
  <div class="roboto m-3 fw-bold font-size-40 chocolate border-bottom">Вашият профил</div>
  <div class="roboto font-size-20 mx-4">
    <div class="my-2">
      <div class="fw-bold font-size-20">
        <span class="me-2" *ngIf="employee.profilePicturePath">
          <img src="{{employee.profilePicturePath}}">
        </span>Здравейте,
        <span class="fst-italic chocolate"> {{employee.firstName}} {{employee.lastName}} </span>!
      </div>
    </div>
    <div class="my-2 font-size-20">
      <span class="fw-bold">Имейл:
        <span class="fw-normal fst-italic">{{employee.email}}</span>
      </span>
    </div>
    <div class="my-2 font-size-20">
      <span class="fw-bold">Дата на раждане:
        <span class="fw-normal fst-italic">{{employee.birthDate}}</span>
      </span>
    </div>
    <div class="my-2 font-size-20">
      <span class="fw-bold">Град:
        <span class="fw-normal fst-italic">{{employee.city}}</span>
      </span>
    </div>
    <div class="my-2 font-size-20">
      <span class="fw-bold">Телефон:
        <span class="fw-normal fst-italic">{{employee.phoneNumber}}</span>
      </span>
    </div>
    <div class="my-2 font-size-20">
      <span class="fst-italic">
        Вие <span *ngIf="!employee.isLookingForJob">не</span> си търсите работа.
      </span>
    </div>
    <span class="my-2" *ngIf="!employee.profilePicturePath">
      Все още нямате профилна снимка.
    </span>
    <div class="my-2 font-size-20">
      <div class="btn btn-outline-dark btn-yellow-inverted roboto font-size-30 mx-xl-2" aria-current="page"
        (click)="downloadPDF()">
        <i class="fa-solid fa-file-pdf fa-lg"></i>
      </div>
      <div class="btn btn-outline-dark btn-yellow-inverted roboto font-size-30 mx-xl-2" aria-current="page"
      (click)="openQRCodeModal()">
        <i class="fa-solid fa-qrcode fa-lg"></i>
      </div>
    </div>
  </div>
  <div class="text-end border-top sticky-bottom">
    <button type="button" class="btn btn-chocolate mt-2 me-1" (click)="editEmployeeProfile()">Редактиране на
      данните</button>
    <button type="button" class="btn btn-secondary mt-2 me-1" (click)="bsModalRef.hide()">Затваряне</button>
  </div>
</div>