<nav-top></nav-top>
<div class="content">
    <div class="content-screen content-screen-fill">
        <div>Здравейте!</div>
        <div>Моля, изберете ресторанта, в който се намирате:</div>
        <div>
            <button class="button btn-inverted dropdown-toggle" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span *ngIf="!selectedRestaurant">Изберете ресторант</span>
                <span *ngIf="selectedRestaurant">selectedRestaurant.name</span>
            </button>
            <ul class="dropdown-menu">
                <div *ngFor="let restaurant of reviewEmployeeInfo?.restaurants">
                    <div class="button btn-inverted" (click)="selectRestaurant(restaurant)">
                        {{restaurant.name}}
                    </div>
                </div>
            </ul>
        </div>
        <div class="rate-group" *ngIf="!selectedRestaurant">
            <div class="center-this-and-flex-start-vertically">
                Оценете работата на {{reviewEmployeeInfo?.employeeName}}
            </div>
            <div class="center-this-and-flex-start-vertically">
                Оценете и ресторант {{selectedRestaurant}}
            </div>
        </div>
        <div>
            <button class="button btn-chocolate"> 
                Поставяне на оценка
            </button> 
        </div>
    </div>
</div>