<nav-top></nav-top>
<div class="content">
    <div class="content-screen content-screen-fill">
        <div *ngIf="!selectedRestaurant">Здравейте!</div>
        <div *ngIf="!selectedRestaurant">Моля, изберете ресторанта, в който се намирате:</div>
        <div>
            <button class="button btn-inverted dropdown-toggle" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span *ngIf="!selectedRestaurant">Изберете ресторант</span>
                <span *ngIf="selectedRestaurant">{{selectedRestaurant.name}}</span>
            </button>
            <ul class="dropdown-menu">
                <div class="p-2" *ngFor="let restaurant of reviewEmployeeInfo?.restaurantDtos">
                    <div class="button btn-inverted" (click)="selectRestaurant(restaurant)">
                        {{restaurant.name}}
                    </div>
                </div>
            </ul>
        </div>
        <div class="rate-group" *ngIf="selectedRestaurant">
            <div>
                Оценете работата на {{reviewEmployeeInfo?.employeeName}}
                <div>
                    Speed: <app-rate-employee-restaurant
                        (ratingResult)="getSpeedRating($event)"></app-rate-employee-restaurant>
                </div>
                <div>
                    Attitude: <app-rate-employee-restaurant
                        (ratingResult)="getAttitudeRating($event)"></app-rate-employee-restaurant>
                </div>
            </div>
            <div>
                Оценете и ресторант {{selectedRestaurant.name}}
                <div>
                    Cuisine: <app-rate-employee-restaurant
                        (ratingResult)="getCuisineRating($event)"></app-rate-employee-restaurant>
                </div>
                <div>
                    Atmosphere: <app-rate-employee-restaurant
                        (ratingResult)="getAtmosphereRating($event)"></app-rate-employee-restaurant>
                </div>
            </div>
            <div>
                <span>Оставете коментар</span>
                <textarea class="form-control" (input)="reviewCommentValue($event)"></textarea>
            </div>
            <div>
                <button class="button btn-chocolate" (click)="submitCustomerReview()">
                    Поставяне на оценка
                </button>
            </div>
        </div>
    </div>
</div>