<div class="modal-body">
    <div class="h2 fw-bold theme-main">Редактиране на профил</div>
    <div class="text-center">
        <form [formGroup]="editManagerForm" (ngSubmit)="editManager()" autocomplete="off">
            <div class="form-group">
                <div class="input-field">
                    <span class="fa fa-user p-2"></span>
                    <input formControlName="newFirstName" type="text"
                        placeholder="Ново първо име ({{manager?.firstName}})">
                </div>
                <div class="input-field">
                    <span class="fa fa-user p-2"></span>
                    <input formControlName="newLastName" type="text" placeholder="Нова фамилия ({{manager?.lastName}})">
                </div>
                <div class="input-field">
                    <span class="fa fa-phone p-2"></span>
                    <input formControlName="newPhoneNumber" type="text"
                        placeholder="Нов телефонен номер ({{manager?.phoneNumber}})">
                </div>
                <div class="input-field">
                    <span class="fa fa-picture-o p-2"></span>
                    <input (change)="onFileSelected($event)" type="file" accept="image/*">
                </div>
                <div *ngIf="submitted">
                    <div class="text-danger"
                        *ngIf="editManagerForm.get('newFirstName')?.hasError('minlength') || editManagerForm.get('newFirstName')?.hasError('maxlength')
                            || editManagerForm.get('newLastName')?.hasError('minlength') || editManagerForm.get('newLastName')?.hasError('maxlength')">
                        Името и фамилията трябва да са между 2 и 50 символа!
                    </div>
                    <div class="text-danger" *ngIf="editManagerForm.get('newPhoneNumber')?.hasError('pattern')">
                        Невалиден телефонен номер!
                    </div>
                </div>
            </div>
            <div class="form-floating" *ngIf="errorMessages.length > 0">
                <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
            </div>
        </form>
    </div>
    <div class="text-center">
        <div class="text-danger p-2">
            Внимание! След тази операция акаунтът не може да бъде върнат!
        </div>
        <button type="button" class="button btn-red" (click)="deleteManagerAccount()">
            Изтриване на акаунт
        </button>
    </div>
    <div class="buttons">
        <button type="button" class="button btn-gray" (click)="bsModalRef.hide()">Отказ</button>
        <button type="button" class="button btn-chocolate" (click)="editManager()">Запази</button>
    </div>
</div>