.outer {
    height: 100vh;
    background-image: url('../../../../assets/images/employee-signup-img.png');
}

.custom-date-input {
    border: transparent;
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px;
}

#forget {
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
    color: chocolate;
}

a:hover {
    text-decoration: none;
}

.btn {
    margin-top: 20px;
    border-radius: 15px;
}

.panel {
    box-shadow: 20px, 20px, 80px rgb(218, 218, 218);
    border-radius: 12px;
}

.one-line {
    display: grid;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
}