::ng-deep app-register-employee {
    background-image: url('../../../../assets/images/employee-signup-img.png') !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.custom-date-input {
    border: transparent;
}

.screen-left {
    border-radius: 10% 40% / 40% 10%;
    padding: 40px 40px; 
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    gap: 14px;
}

.form-screen {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    align-self: stretch;
    gap: 14px;
}

.content {
    padding-left: 0px;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    align-items: center;
}

a {
    text-decoration: none;
}

.date-input {
    background-color: transparent;
    margin-left: 3%;
    border-color: transparent;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
}