<nav-top></nav-top>
<div class="content">
    <div class="content-screen slide-in-blurred-left">
        <div class="screen-left">
            <div class="theme-main h1">Нов акаунт</div>
            <div class="pacifico theme-main h3">Работник</div>
            <form class="form-screen" [formGroup]="registerForm" (ngSubmit)="registerEmployee()" autocomplete="off">
                <div class="input-sm">
                    <div class="input-field">
                        <span class="fa fa-user p-2"></span>
                        <input formControlName="firstName" type="text" placeholder="Име"
                            [class.is-invalid]="submitted && registerForm.get('firstName')?.errors">
                    </div>
                    <div class="input-field">
                        <span class="fa fa-user p-2"></span>
                        <input formControlName="lastName" type="text" placeholder="Фамилия"
                            [class.is-invalid]="submitted && registerForm.get('lastName')?.errors">
                    </div>
                </div>
                <!-- <div class="input-field">
                    <span class="fa fa-map-pin p-2" aria-hidden="true"></span>
                    <input formControlName="city" type="text" placeholder="Град"
                        [class.is-invalid]="submitted && registerForm.get('city')?.errors">
                </div> -->
                <div class="input-field">
                    <span class="fa fa-map-pin p-2"></span>
                    <input type="text" placeholder="Търсете град" formControlName="city"
                        [(ngModel)]="searchLocationPropmt">
                    <div (click)="getSearchLocationResults()" data-bs-toggle="collapse"
                        data-bs-target="#collapseResults" id="collapseToggle">
                        <i class="fa-solid fa-magnifying-glass-location p-2"></i>
                    </div>
                </div>
                <div class="collapse" id="collapseResults">
                    <div class="collapse-body">
                        <div class="city" *ngFor="let result of resultsLocationSearch" (click)="selectCity(result)">
                            {{result}}
                        </div>
                    </div>
                </div>
                <div class="input-field">
                    <span class="fa fa-calendar p-2"></span>
                    <span class="text-muted">Дата на раждане:</span>
                    <input class="date-input" formControlName="birthDate" type="date"
                        [class.is-invalid]="submitted && registerForm.get('birthDate')?.errors">
                </div>
                <div class="input-sm">
                    <div class="input-field">
                        <span class="fa fa-envelope p-2"></span>
                        <input formControlName="email" type="text" placeholder="Имейл"
                            [class.is-invalid]="submitted && registerForm.get('email')?.errors">
                    </div>
                    <div class="input-field">
                        <span class="fa fa-lock p-2"></span>
                        <input formControlName="password" [type]="type" placeholder="Парола"
                            [class.is-invalid]="submitted && registerForm.get('password')?.errors">
                        <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                    </div>
                </div>
                <div *ngIf="submitted">
                    <div class="text-danger" *ngIf="registerForm.get('firstName')?.hasError('required')
                        || registerForm.get('lastName')?.hasError('required')
                        || registerForm.get('email')?.hasError('required')
                        || registerForm.get('city')?.hasError('required')
                        || registerForm.get('password')?.hasError('required')
                        || registerForm.get('birthDate')?.hasError('required')">
                        Всички полета са задължителни!
                    </div>
                    <div class="text-danger"
                        *ngIf="registerForm.get('firstName')?.hasError('minlength') || registerForm.get('firstName')?.hasError('maxlength')
                            || registerForm.get('lastName')?.hasError('minlength') || registerForm.get('lastName')?.hasError('maxlength')">
                        Името и фамилията трябва да са между 2 и 50 символа!
                    </div>
                    <div class="text-danger" *ngIf="registerForm.get('city')?.hasError('minlength')">
                        Градът трябва да е с повече от 2 символа!
                    </div>
                    <div class="text-danger" *ngIf="registerForm.get('email')?.hasError('pattern')">
                        Невалиден имейл адрес!
                    </div>
                    <div class="text-danger"
                        *ngIf="registerForm.get('password')?.hasError('minlength') || registerForm.get('password')?.hasError('maxlength')">
                        Паролата трябва да е между 6 и 50 символа!
                    </div>
                </div>
                <div *ngIf="errorMessages.length > 0">
                    <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                </div>
                <div class="text-center">
                    <a class="theme-main" routerLink="/account/register-manager">Смяна към мениджър</a>
                </div>
                <button type="submit" class="btn btn-chocolate">Създаване на
                    акаунт</button>
                <div class="text-center">Вече имате акаунт?
                    <a class="theme-main" routerLink="/account/login">Влезте</a>
                </div>
            </form>
        </div>
    </div>