<nav-top></nav-top>
<div class="content flex-direction-row">
    <div class="content-screen content-screen-fill">
        <div class="text-muted fst-italic h4">
            Всички работници, търсещи работа ({{this.totalEmployeeCount}})
        </div>
        <div class="pages">
            <button class="button button-page" (click)="previousPage()" tooltip="Предишни 20">
                <i class="fa-solid fa-angles-left"></i>
            </button>
            <div *ngFor="let page of [].constructor(totalPages); let i = index;">
                <button class="button button-page" [ngClass]="{'selected': i + 1 === currentPage}"
                    (click)="setCurrentPage(i + 1)">{{i + 1}}</button>
            </div>
            <button class="button button-page" (click)="nextPage()" tooltip="Следващи 20">
                <i class="fa-solid fa-angles-right"></i>
            </button>
            <div class="text-muted fst-italic">
                ({{this.currentPage * 20 - 19}}-{{this.currentPage * 20}})
            </div>
        </div>
        <div class="screen-right emp-list">
            <div class="list-items" *ngFor="let employee of this.employeesLookingForJob;">
                <div class="employee" (click)="getEmployeeInfo(employee.email)">
                    <img class="emp-img" src="{{employee.profilePicturePath}}" (error)="missingIcon(employee)">
                    <div class="empl-info">
                        <div>
                            <div class="h4 fw-bold">{{employee.firstName}} {{employee.lastName}}</div>
                            <div>{{employee.email}}</div>
                        </div>
                        <div>
                            <div class="h4 fw-bold">Средна оценка:
                                <app-star-rating [rating]="employee.employeeAverageRating"></app-star-rating>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>