<div class="outer">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <div class="h3 pt-3 font-weight-bold">Login</div>
                    </div>
                    <div class="panel-body p-3">
                        <form>
                                <div class="form-group pt-3">
                                    <div class="input-field my-2">
                                        <span class="fa fa-user p-2 my2"></span>
                                        <input type="text" placeholder="Email">                                       
                                    </div>                                  
                                    <div class="input-field my-2">
                                        <span class="fa fa-lock p-2"></span>
                                        <input [type]="type" placeholder="Password">
                                        <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>                                           
                                    </div>
                                </div>
                                <div class="form-inline fr mt-4">
                                    <a id="forget" class="font-weight-bold">Forgot Password?</a>
                                </div>
                                <button type="submit" class="btn custom-login-button btn-block mt-4 w-100">Log In</button>
                                <div class="text-center pt-4 text-muted">Don't have an account?
                                    <a id="forget" routerLink="/account/registerEmployee">Sign up</a>
                                </div>
                        </form>  
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
