.modal-body {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: rgb(238, 222, 191);
    border-radius: 8px;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px;
}