<app-navbar></app-navbar>
<div class="mt-2">
    <img src="../../../../assets/images/index-page-img.png" style="max-height: 100vh;" height="864" width="1920" alt="index_page_img">
    <div class="container">
        <a routerLink="/account/login" class="btn btn-outline-light overlay-btn-login">Влез</a>
        <a routerLink="/account/registerEmployee" class="btn btn-outline-light overlay-btn-signup" >Създай акаунт</a>
        <a class="overlay-text border-top border-bottom">Оптимизирано приложение <br> за техническо изпълнение, <br> мениджмънт и анализ <br> на ресторанти <br></a>
    </div>
    
    
</div>
