.container{
    width: 100vw;
}
.overlay-text {
    font-family: Roboto Slab;
    font-size: 27px !important;
    text-shadow: 2px 2px black;
    text-decoration: none;
    margin-top: 150px !important;
    color: white;
    text-align: center;
}
.btn-outline-light{
    border-color: transparent;
    background-color: chocolate;
    box-shadow: 3px 1px black;
}
.btn-outline-light:hover{
    background-color: rgb(145, 75, 25);
    color:white;
}
.custom-background{
    background-image: url('../../../../assets/images/index-page-img.png') !important;
}
