::ng-deep app-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.about-card {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    border-radius: 8px;
    scale: 1;
}

.img-left {
    max-width: 400px;
    aspect-ratio: 3/2;
    width: 100% !important;
    object-fit: cover;
    border-radius: 8px 0px 0px 8px;
}

.img-right {
    max-width: 400px;
    aspect-ratio: 3/2;
    width: 100% !important;
    object-fit: cover;
    border-radius: 0px 8px 8px 0px;
}

.content-screen-fill-row {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

.content {
    padding: 48px 0px 12px 0px;
    gap: 0px;
}

.cards-list {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex: 1 0 0;
    gap: 12px;
    overflow: scroll;
}

.text-section {
    display: flex;
    align-self: stretch;
    flex: 1 0 0;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.tri-card {
    display: flex;
    align-self: stretch;
    flex: 1 0 0;
    justify-content: space-evenly;
    gap: 20px;
}

.about-card2 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    padding: 16px;
}

.background-chocolate {
    background-color: rgba(210, 105, 30, 0.75) !important;
    color: white;
}