<nav-top></nav-top>
<div class="content">
    <div class="content-screen content-screen-fill">
        <div class="cards-list">
            <div class="about-card">
                <img class="img-left" src="../../../../assets/images/manager-signup-img.png">
                <div class="text-section text-center">
                    <span>
                        <span class="fw-bold">Оптима ресторатни</span> е онлайн приложение, целящо да улесни работата на
                        <br>
                        сервитьори и ресторантьори, като им предостави сигурна онлайн среда за <br>
                        <span class="fw-bold">наблюдаване, оптимизиране и дигитализиране</span> на работния процес, чрез
                        <span class="fst-italic">даване и <br>
                            получаване на оценки, организиране на графици, генериране на резюмета (CV) и <br>
                            други.</span>
                    </span>
                </div>
            </div>
            <div class="tri-card text-center">
                <div class="about-card2">
                    <span class="h3 fw-bold theme-main">Сервитьори/работници</span>
                    <span class="text-section">
                        <span>
                            Пред сервитьорите регистрирани в системата ще се отворят множество възможности.
                            На всеки от тях ще бъде предоставен <span class="fw-bold">QR код, чрез който те ще могат да
                                бъдат оценявани
                                от клиентите им.</span> Ще могат да свалят автоматично генерирани резюмета, съдържащи
                            личната
                            им информация, предишния им работен опит и настоящето им работно място. Приложението ще
                            им <span class="fst-italic">асистира в организирането им на графици</span> и дори позволява
                            работа на няколко различни
                            места едновременно. Чрез него, те ще имат и възможност да кандидатстват за работа.
                        </span>
                    </span>
                </div>
                <div class="about-card2 background-chocolate">
                    <span class="h3 fw-bold">Клиенти</span>
                    <span class="text-section">
                        <span>
                            За обикновенния потребител ОптимаРесторанти предлага <span class="fst-italic">надежна и
                                сигурна
                                система</span> за откриване на <span class="fw-bold">най-добрите ресторанти в
                                района</span>, както и средство
                            за изразяване на мнение спрямо ресторант и обслужващ персонал.
                        </span>
                    </span>
                </div>
                <div class="about-card2">
                    <span class="h3 fw-bold theme-main">Управители</span>
                    <span class="text-section">
                        <span>Управителите на ресторантите са нашият <span class="fw-bold">най-ценен потребител</span> и
                            съответно тези,
                            които получават най-много от използването на ОптимаРесторанти. Те могат да
                            <span class="fst-italic">регистрират своите ресторанти, да наемат работници в тях, да
                                организират
                                графиците им и да следят качеството на работата на служителите си изцяло
                                онлайн</span> , давайки им възможност за оптимизация и дигитализация на работния
                            процес.</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="content-screen content-screen-fill-row">
        <div>
            Имате други въпроси?
            Свържете се с нас: <span class="fw-bold">optimarestorants&#64;gmail.com</span>
        </div>
    </div>
</div>