<nav-top></nav-top>
<div class="content">
    <div class="content-screen content-screen-fill">
        <div class="cards-list">
            <div class="about-card">
                <img class="img" src="../../../../assets/images/manager-signup-img.png">
                <div>
                    Малка беше, не помня точно, малък беше ти, влюбих се като животно. Двама влюбени. Помня бяхме малки,
                    джобовете празни, а кръвта ми пълна с тебе, обещах да си ми първия, ти ми беше първата на мене. А+Г=
                    ВНЛ, буквите ни по стените още са ми пред очите, времето не ги изтри, животът ни промени и при теб
                    така ли стана, първата любов като стара рана.
                </div>
            </div>
            <div class="about-card">
                <img class="img" src="../../../../assets/images/employee-signup-img.png">
                <div>
                    Рана имам в сърцето, като те погледна жегва, пробвах с друг, не се лекува, все за теб боли ме, с теб
                    ми се целува. Рана имам да лекувам, чуваш ли момиче, още боледувам, помня, рана ми направи като ме
                    остави, като ме забрави.
                </div>
            </div>
            <div class="about-card">
                <img class="img" src="../../../../assets/images/login.png">
                <div>
                    Някаква шега ли Господ си направи, след години пак ни срещна, в очите ми си същата и в моите си
                    същото момченце. А+Г= ВНЛ, буквите ни по стените още са ми пред очите, времето не ги изтри, животът
                    ни промени и при теб така ли стана, първата любов като стара рана.
                </div>
            </div>
            <div class="about-card">
                <img class="img" src="../../../../assets/images/login.png">
                <div>
                    Стара циганка позна ми че ще ме запалиш, още палиш, черен взел ти е сърцето, все ще е заето, ще боли
                    проклето. Стара циганка позна ми че ще ме запалиш, още палиш, черен взел ти е сърцето, все ще е
                    заето, ще боли проклето.
                </div>
            </div>
        </div>
    </div>
    <div class="content-screen content-screen-fill-row">
        <div>
            Имате други въпроси?
            Свържете се с нас: <span class="fw-bold">optimarestorants&#64;gmail.com</span>
        </div>
    </div>
</div>