<div class="modal-content" *ngIf="requests">
    <div class="modal-header">
        <h5 class="modal-title roboto fw-bold font-size-40 chocolate">Съобщения</h5>
    </div>
    <div class="modal-body scrollable-vert">
        <div class="roboto fst-italic font-size-15" *ngIf="requests.length == 0">
            Нямате нови съобщения
        </div>
        <div class="row col-12 ms-1 border-top border-bottom" *ngFor="let request of requests">
            <div *ngIf="request.confirmed == null">
                <div class="row roboto font-size-20"> {{request.text}}
                    <span class="row fst-italic text-muted font-size-15">
                        {{request.senderEmail}}, {{convertDate(request.sentOn)}}
                    </span>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-success" (click)="requestToResponse(true, request)">
                        <i class="fa fa-check-circle"></i>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="requestToResponse(false, request)">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
            </div>
            <div class="col-12 m-2 text-muted" *ngIf="request.confirmed != null">
                <div class="row roboto font-size-15"> {{request.text}}
                    <span class="row fst-italic font-size-10">
                        {{request.senderEmail}}, {{convertDate(request.sentOn)}} 
                        <span class="row" *ngIf="request.confirmed">Отговорена заявка, потвърдена.</span>
                        <span class="row" *ngIf="!request.confirmed">Отговорена заявка, отхвърлена.</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Затвори</button>
    </div>
</div>