::ng-deep app-login {
    background-image: url('../../../../assets/images/login.png') !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.custom-date-input {
    border: transparent;
}

.content-screen {
    align-items: center;
    gap: 16px;
    align-self: center;
    padding: 24px;
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.panel {
    border-radius: 12px;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
}