<nav-top></nav-top>
<div class="content align-items-center justify-content-center">
    <form class="content-screen slide-in-blurred-left" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="h1 theme-main fw-bold">Влизане в профил</div>
        <div class="input-field">
            <span class="fa fa-user p-2"></span>
            <input formControlName="userName" type="text" placeholder="Имейл"
                [class.is-invalid]="submitted && loginForm.get('userName')?.errors">
        </div>
        <span class="text-danger" *ngIf="submitted && loginForm.get('userName')?.hasError('required')">
            Полето е задължително!
        </span>
        <div class="input-field">
            <span class="fa fa-lock p-2"></span>
            <input formControlName="password" [type]="type" placeholder="Парола"
                [class.is-invalid]="submitted && loginForm.get('password')?.errors">
            <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
        </div>
        <span class="text-danger" *ngIf="submitted && loginForm.get('password')?.hasError('required')">
            Полето е задължително!
        </span>
        <div class="form-floating" *ngIf="errorMessages.length > 0">
            <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
            <a class="theme-main" (click)="resendEmailConfirmaitonLink()"
                *ngIf="errorMessages[0].includes('Моля потвърдете имейл адреса си.')">
                Не сте получили имейл за потвърждаване? Натиснете тук.
            </a>
        </div>
        <div class="form-inline">
            <a class="font-weight-bold theme-main"
                routerLink="/account/send-email/forgot-username-or-password">Забравена парола?</a>
        </div>
        <button type="submit" class="btn btn-chocolate w-100">Влез</button>
        <div class="text-center text-muted">Нямате акаунт?
            <a class="theme-main" routerLink="/account/register-employee">Създайте профил</a>
        </div>
    </form>
</div>