::ng-deep app-login {
    background-image: url('../../../../assets/images/login.png') !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.custom-date-input {
    border: transparent;
}

.content-screen {
    border-radius: 10% 90% / 90% 10%;
    padding: 60px 45px; 
    background-color: rgba(255, 255, 255, 0.9);
}

a {
    text-decoration: none;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
}