<div class="modal-body roboto scrollable-vert text-center">
    <div class="fw-bold m-3 font-size-40 chocolate">
        Вашият QR Код
    </div>
    <div class="font-size-20 text-danger fst-italic m-3" *ngIf="!employee?.qrCodePath"> 
        {{message}} 
    </div>
    <img class="col-10 text-center" src="{{employee?.qrCodePath}}" *ngIf="employee?.qrCodePath">
    <div class="download-qr fst-italic fw-bold mb-4 font-size-20 chocolate" (click)="downloadQRCode()">
        Свалете вашия код
    </div>
    <div class="text-end border-top">
        <button type="button" class="btn btn-secondary mt-2 me-1" (click)="bsModalRef.hide()">Затваряне</button>
    </div>
</div>