<app-navbar></app-navbar>
<div class="split-screen border-top">
    <div class="row max-width">
        <div class="col-8">
            <div class="roboto">
                Вашите ресторанти
            </div>
            <div class="" *ngFor="let restaurant of this.manager?.restaurants;">
                <!--restaurant tings-->
            </div>
            <div class="text-center">                
                <button class="btn btn-info">
                    Създаване на акаунт</button>                         
            </div>
        </div>
        <div class="col-4">
            <div class="roboto">
                Всички служители в ресторанта
            </div>            
        </div>
    </div>
</div>
