<div class="modal-body" *ngIf="restaurant">
  <div class="h1">
    <div class="fw-bold">Ресторант
      <span class="fst-italic theme-main">{{restaurant.name}}</span>
    </div>
  </div>
  <div class="main-info">
    <div class="img-map">
      <div class="screen-left">
        <img class="rest-img" src="{{restaurant.iconPath}}" (error)="missingIcon(restaurant)">
        <div class="h5 text-muted fst-italic">
          <span class="fw-bold">{{restaurant.address1}},</span> {{restaurant.address2}}
        </div>
      </div>
      <div class="map">
        <app-restaurant-map [longitude]="restaurant.longitude.toString()" [latitude]="restaurant.latitude.toString()"></app-restaurant-map>
      </div>
    </div>
    <div class="ratings">
      <div class="rest-info justify-content-between h4">
        <div *ngIf="user"> <span class="fw-bold"> Общ капацитет: </span> {{restaurant.employeeCapacity}}</div>
        <div> <span class="fw-bold"> Работещ: </span>
          <span class="text-success" *ngIf="restaurant.isWorking">Да</span>
          <span class="text-danger" *ngIf="!restaurant.isWorking">Не</span>
        </div>
      </div>
      <div class="rest-info justify-content-between h4">
        <div>
          <span>Рейтинг на атмосферата: </span>
          <app-star-rating [rating]="restaurant.atmosphereAverageRating"></app-star-rating>
        </div>
        <div>
          <span>Рейтинг на работниците: </span>
          <app-star-rating [rating]="restaurant.employeesAverageRating"></app-star-rating>
        </div>
      </div>
      <div class="rest-info justify-content-between h4">
        <div>
          <span>Рейтинг на кухнята: </span>
          <app-star-rating [rating]="restaurant.cuisineAverageRating"></app-star-rating>
        </div>
        <div>
          <span>Среден рейтинг на ресторант: </span>
          <app-star-rating [rating]="restaurant.restaurantAverageRating"></app-star-rating>
        </div>
      </div>
    </div>
    <div *ngIf="restaurant.topEmployeeEmail && this.user">
      <div class="h1" *ngIf="restaurant.topEmployeeEmail">
        Най-добрият работник на <span class="theme-main fst-italic fw-bold">{{restaurant.name}}</span>
      </div>
      <div class="info-row item-hover" (click)="openTopEmployeeInfo(restaurant.topEmployeeEmail)">
        <div>
          <img class="empl-img" src="{{restaurant.topEmployeePicturePath}}" (error)="missingIconEmployee(restaurant)">
        </div>
        <div class="h4 top-employee-info">
          <div>Имена:
            <span class="theme-main fst-italic">{{restaurant.topEmployeeFullName}}</span>
          </div>
          <div>Имейл:
            <span class="theme-main fst-italic">{{restaurant.topEmployeeEmail}}</span>
          </div>
          <div class="fw-bold">Неговият рейтинг:
            <app-star-rating [rating]="restaurant.topEmployeeRating"></app-star-rating>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!managerOwnsRestaurant && restaurant.managerEmail && this.user">
      <div class="h1">
        Информация за мениджъра на <span class="theme-main fst-italic fw-bold">{{restaurant.name}}</span>
      </div>
      <div class="info-row item-hover" (click)="openManagerInfo(restaurant.managerEmail)">
        <div class="h4 top-employee-info">
          <div>Имена:
            <span class="theme-main fst-italic">{{restaurant.managerFullName}}</span>
          </div>
          <div>Имейл:
            <span class="theme-main fst-italic">{{restaurant.managerEmail}}</span>
          </div>
          <div>Телефон:
            <span class="theme-main fst-italic">{{restaurant.managerPhoneNumber}}</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!restaurant.managerEmail">
      <span class="fst-italic">Този ресторант няма мениджър.</span>
    </div>
    <div *ngIf="user?.isManager == false && !employeeWorksInRestaurant">
      <div class="button btn-chocolate" (click)="sendWorkingRequest()">
        Изпращане на заявка за работа в <span class="fst-italic">{{restaurant.name}}</span>
      </div>
    </div>
  </div>
  <div class="button-close">
    <div type="button" class="button btn-gray" (click)="close()">Затваряне</div>
  </div>
</div>
