input[type='text']{
    border: none;
    outline: none;
    box-shadow: none;
}
input[type=checkbox]{
    background-color: white !important;

}
input[type=checkbox]:checked{
    background-color: chocolate !important;
    border-color: chocolate;
}
.form-check-input:focus{
    border-color: white;
}