<div class="modal-body">
  <div class="h2 fw-bold theme-main">Създаване на нов ресторант</div>
  <div class="text-center">
    <form [formGroup]="newRestaurantForm" (ngSubmit)="addNewRestaurant()" autocomplete="off">
      <div class="form-group">
        <div class="input-field">
          <span class="fa fa-cutlery theme-main p-2"></span>
          <input formControlName="name" type="text" placeholder="Име на ресторанта"
            [class.is-invalid]="submitted && newRestaurantForm.get('name')?.errors">
        </div>
        <div class="input-field">
          <span class="fa fa-map-pin p-2"></span>
          <input type="text" placeholder="Търсете локация/адрес" formControlName="fullLocationString"
            [(ngModel)]="searchLocationPropmt">
          <div (click)="getSearchLocationResults()" data-bs-toggle="collapse" data-bs-target="#collapseResults"
            id="collapseToggle">
            <i class="fa-solid fa-magnifying-glass-location p-2"></i>
          </div>
        </div>
        <div class="collapse" id="collapseResults">
          <div class="collapse-body">
            <div class="city" *ngFor="let result of resultsLocationSearch" (click)="selectCity(result)">
              {{result}}
            </div>
          </div>
        </div>
        <div class="input-field">
          <span class="fa fa-user theme-main p-2"></span>
          <input formControlName="employeeCapacity" type="text" placeholder="Максимален капацитет на работници"
            [class.is-invalid]="submitted && newRestaurantForm.get('employeeCapacity')?.errors">
        </div>
        <div class="input-field">
          <span class="fa fa-picture-o theme-main p-2"></span>
          <input type="file" (change)="onFileSelected($event)" accept="image/*">
        </div>
        <div *ngIf="submitted">
          <div class="text-danger" *ngIf="newRestaurantForm.get('name')?.hasError('required')
              || newRestaurantForm.get('address')?.hasError('required')
              || newRestaurantForm.get('fullLocationString')?.hasError('required')
              || newRestaurantForm.get('employeeCapacity')?.hasError('required')">
            Всички полета са задължителни!
          </div>
          <div class="text-danger"
            *ngIf="newRestaurantForm.get('name')?.hasError('minlength') || newRestaurantForm.get('name')?.hasError('maxlength')
                  || newRestaurantForm.get('address')?.hasError('minlength') || newRestaurantForm.get('address')?.hasError('maxlength')">
            Името и адресът трябва да са между 2 и 50 символа!
          </div>
          <div class="text-danger" *ngIf="newRestaurantForm.get('employeeCapacity')?.hasError('pattern')">
            Невалиден капацитет на работници!
          </div>
        </div>
      </div>
      <div class="form-floating" *ngIf="errorMessages.length > 0">
        <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
      </div>
    </form>
  </div>
  <div class="buttons">
    <button type="button" class="button btn-gray" (click)="bsModalRef.hide()">Отказ</button>
    <button type="button" class="button btn-chocolate" (click)="addNewRestaurant()">Запази</button>
  </div>
</div>