<div class="collapse-body" *ngIf="requests">
    <div class="fw-bold">
        Съобщения
    </div>
    <div class="fst-italic" *ngIf="!newNotifications">
        Нямате нови съобщения
    </div>
    <div *ngFor="let request of requests">
        <div *ngIf="request.confirmed == null">
            <div> {{request.text}}
                <span class="fst-italic text-muted">
                    {{request.senderEmail}}, {{request.sentOn}}
                </span>
            </div>
            <div class="">
                <div class="">
                    <button type="button" class="btn btn-success col-10" (click)="respondToRequest(true, request)">
                        <i class="fa fa-check-circle"></i>
                    </button>
                </div>
                <div class="">
                    <button type="button" class="btn btn-danger col-10" (click)="respondToRequest(false, request)">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Отговорени заявки
    </button>
    <div class="collapse" id="collapseExample">
        <div *ngFor="let request of requests">
            <div *ngIf="request.confirmed != null">
                <div class=""> {{request.text}}
                    <span class="row fst-italic font-size-10">
                        {{request.senderEmail}}, {{request.sentOn}}
                        <span *ngIf="request.confirmed">Заявката е потвърдена.</span>
                        <span *ngIf="!request.confirmed">Заявката е отхвърлена.</span>
                    </span>
                </div>
            </div>
        </div>
    </div> 
    <div class="">
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Затвори</button>
    </div>
</div>