<div class="max-height-70vh collapse-body scrollable-vert" *ngIf="requests">
    <div class="roboto fw-bold m-3 font-size-40 chocolate">
        Съобщения
    </div>
    <div class="roboto fst-italic font-size-15" *ngIf="requests.length == 0">
        Нямате нови съобщения
    </div>
    <div class="row col-12 ms-1 border-top border-bottom" *ngFor="let request of requests">
        <div *ngIf="request.confirmed == null">
            <div class="row roboto font-size-20"> {{request.text}}
                <span class="row fst-italic text-muted font-size-15">
                    {{request.senderEmail}}, {{convertDate(request.sentOn)}}
                </span>
            </div>
            <div class="row my-2">
                <div class="col-6 text-center">
                    <button type="button" class="btn btn-success col-10" (click)="requestToResponse(true, request)">
                        <i class="fa fa-check-circle"></i>
                    </button>
                </div>
                <div class="col-6 text-center">
                    <button type="button" class="btn btn-danger col-10" (click)="requestToResponse(false, request)">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-12 ms-1 border-top border-bottom" *ngFor="let request of requests">
        <div class="col-12 m-2 text-muted" *ngIf="request.confirmed != null">
            <div class="row roboto font-size-15"> {{request.text}}
                <span class="row fst-italic font-size-10">
                    {{request.senderEmail}}, {{convertDate(request.sentOn)}}
                    <span class="row" *ngIf="request.confirmed">Заявката е потвърдена.</span>
                    <span class="row" *ngIf="!request.confirmed">Заявката е отхвърлена.</span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary mx-3 mt-3" (click)="bsModalRef.hide()">Затвори</button>
</div>