::ng-deep app-index {
    background-image: url('../../../../assets/images/index-page-img.png') !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.overlay-text {
    text-shadow: 2px 2px black;
    color: white;
}

.content-screen-row {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.content-screen {
    background: linear-gradient(90deg, rgb(114, 57, 18) 0%, rgba(9,9,121,0) 50%);
}