<div class="bg">
    <nav-top></nav-top>
    <div class="d-flex align-items-center justify-content-center">
        <div class="overlay-text border-top border-bottom col-md-4 col-sm-10 col-xl-3 p-3">
            Оптимизирано приложение за техническо изпълнение, мениджмънт и анализ на ресторанти
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div (click)="login()" class="col-4 col-lg-2 btn btn-outline-light pacifico-with-shadow font-size-30 mx-5 mt-5">
            <span class="fa fa-sign-in p-1"></span>
            Влез
        </div>
        <div (click)="register()" class="col-4 col-lg-2 btn btn-outline-light pacifico-with-shadow font-size-30 mx-5 mt-5">
            <span class="fa fa-user-plus p-1"></span>
            Нов акаунт
        </div>
    </div>
</div>