<nav-top></nav-top>
<div class="content justify-content-center">
    <div class="content-screen content-screen-fill-row border-start slide-in-blurred-left">
        <div class="h1 overlay-text">
            Оптимизирано приложение за <br> техническо изпълнение, мениджмънт <br> и анализ на ресторанти
        </div>
        <div (click)="login()" class="h3 button fw-bold btn-inverted">
            <span class="fa fa-sign-in p-1"></span>
            Влез
        </div>
        <div (click)="register()" class="h3 button fw-bold btn-inverted">
            <span class="fa fa-user-plus p-1"></span>
            Нов акаунт
        </div>
    </div>
</div>