<div class="custom-background max-width min-height">
    <app-navbar></app-navbar>
    <div class="d-flex justify-content-center row max-width">
        <div class="overlay-text border-top border-bottom col-md-4 col-sm-10 col-xl-3 p-4 mb-4">
            Оптимизирано приложение за техническо изпълнение, мениджмънт и анализ на ресторанти
        </div>
    </div>
    <div class="d-flex justify-content-center row max-width">
        <div (click)="login()" class="col-sm-4 col-md-2 btn btn-outline-light pacifico-with-shadow font-size-30 m-5">
            <span class="fa fa-sign-in p-1"></span>
            Влез
        </div>
        <div (click)="register()" class="col-sm-4 col-md-2 btn btn-outline-light pacifico-with-shadow font-size-30 m-5">
            <span class="fa fa-user-plus p-1"></span>
            Нов акаунт
        </div>
    </div>
</div>