/*#region content-screens*/

html,
body,
app-root {
    display: flex !important;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Roboto Slab';
    padding: 0px;
    margin: 0px;
    border: 0;
    background-color: #fadea9;
}

.content {
    display: flex;
    padding: 48px 12px 48px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
    overflow: hidden;
}

/* 
    Currently, content-screen hugs elements inside
    To make it fill space on main axis, use flex: 1 0 0;
    Use it inside the component needed, as well as the other comments here
*/
.content-screen {
    display: flex;
    padding: 8px 24px;
    flex-direction: column;
    /* Whether the components inside are build from left to right (row), or top to bottom (column)*/
    align-items: flex-start;
    /* How to align (second axis) inside items, start center end */
    gap: 12px;
    /* Gap between items, depending on flex-direction */
    justify-content: center;
    /* How to align (main axis) inside items, start center end */
}

.screen-left {
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.screen-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-col {
    flex-direction: column;
}

.content-screen-fill-row {
    align-self: stretch;
}

.content-screen-fill-col {
    flex: 1 0 0;
}

.content-screen-fill {
    flex: 1 0 0;
    align-self: stretch;
}

/*#endregion content-screens*/

/*#region Styles*/

.button {
    background-color: transparent;
    padding: 12px 8px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    margin: 0px;
    transition-timing-function: linear;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: all .2s ease-in-out;
}

.button:hover {
    transform: scale(1.075, 1.05);
}

.roboto {
    font-family: Roboto Slab;
}

.pacifico {
    font-family: Pacifico;
}

.btn-gray {
    background-color: rgb(92, 92, 92);
    color: white;
    border: transparent;
}

.btn-green {
    background-color: rgb(85, 148, 59);
    color: white;
    border: transparent;
}

.btn-red {
    background-color: rgb(201, 57, 57);
    color: white;
    border: transparent;
}

.theme-main {
    color: chocolate !important;
}

.btn-chocolate {
    background-color: chocolate;
    color: white;
    border: transparent;
}

.btn-chocolate:hover {
    background-color: rgb(138, 69, 20);
}

.btn-inverted {
    border-color: transparent !important;
    text-shadow: 1px 1px black;
    color: rgb(252, 154, 43);
}

.btn-inverted:hover {
    border-color: transparent !important;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgb(252, 154, 43);
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: chocolate;
    width: 100%;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.151);
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    background-color: transparent;
}

/*#endregion Styles*/

/*#region Animations*/


.slide-in-blurred-left {
    -webkit-animation: slide-in-blurred-left 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-left 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/*#region Keyframes*/
@-webkit-keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

/*#endregion Keyframes*/

/*#endregion Animations*/

/*#region Scrollbar*/
html,
body,
div {
    scrollbar-width: auto;
}

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #89939b;
    border: 0px none #ffffff;
    border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #525965;
}

::-webkit-scrollbar-thumb:active {
    background: #525965;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/*#endregion Scrollbar*/