body {
    width: 100vw;
    height: 100vh;
}

.max-width {
    max-width: 100% !important;
}

.min-height {
    min-height: 100% !important;
}

.max-height {
    max-height: 100% !important;
}

.min-width {
    min-width: 100% !important;
}

.pacifico-with-shadow {
    font-family: Pacifico;
    text-shadow: 2px 2px black;
    text-align: center;
}

.roboto-with-shadow {
    font-family: Roboto Slab;
    text-shadow: 1px 1px black;
    text-align: center;
}

.roboto {
    font-family: Roboto Slab;
}

.pacifico {
    font-family: Pacifico;
}

.font-size-15 {
    font-size: 15px !important;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-20 {
    font-size: 20px !important;
}

.font-size-25 {
    font-size: 25px !important;
}

.font-size-30 {
    font-size: 30px !important;
}

.font-size-40 {
    font-size: 40px !important;
}

.scrollable-vert {
    overflow-y: auto;
    overflow-x: hidden;
}

.chocolate {
    color: chocolate !important;
}

.btn-chocolate {
    background-color: chocolate;
    color: white;
    border: transparent;
}

.btn-chocolate:hover {
    background-color: rgb(138, 69, 20);
}

.btn-yellow-inverted {
    border-color: transparent !important;
    text-shadow: 1px 1px black;
    color: rgb(252, 154, 43);
}

.btn-yellow-inverted:hover {
    border-color: transparent !important;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgb(252, 154, 43);
}

.btn-yellow {
    border-color: transparent !important;
    text-shadow: 1px 1px black;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgb(252, 154, 43);
}

.btn-yellow:hover {
    border-color: transparent !important;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(252, 154, 43);
}

.max-height-70vh {
    max-height: 70vh !important;
}

.max-height-80vh {
    max-height: 80vh !important;
}

.max-height-90vh {
    max-height: 90vh !important;
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: chocolate;
    width: 100%;
}

nav-top {
    width: 100% !important;
}

/* remove the scrollbar */
html,
body,
div {
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #89939b;
    border: 0px none #ffffff;
    border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #525965;
}

::-webkit-scrollbar-thumb:active {
    background: #525965;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}