img {
    height: 50px;
    width: 50px;
    border-radius: 3px;
    box-shadow: 2px 1px 2px black;
}

.search-body {
    width: 220px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: flex-start;
    background-color: transparent;
    padding: 5px 7px 0px 7px;
}

.search-result {
    border-radius: 12px;
    box-shadow: 2px 1px 2px rgb(179, 179, 179);
    padding: 10px;
}

.search-result:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.search-result {
    background-color: #ffe5b5a2;
}

.results {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: flex-start;
    gap: 6px;
    overflow: auto;
}