::ng-deep app-schedule-manager {
    display: flex;
    flex: 1 0 0;
    align-self: stretch;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex: 1 0 0;
    gap: 24px;
    padding: 24px;
    background-color: rgb(238, 222, 191);
    border-radius: 8px;
}

.schedule {
    display: flex;
    flex-direction: row;
    display: flex;
    flex: 1 0 0;
    padding: 24px;
    gap: 18px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

@media only screen and (max-width: 991px) {
    .schedule {
        flex-direction: column !important;
    }

    .legend-markers {
        flex-direction: column !important;
    }
}

.table-schedule {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: center;
    flex: 1 0 0;
    padding-left: 52px;
    padding-right: 52px;
}

table {
    border-collapse: collapse;
    flex: 1 0 0;
    font-size: 18px;
}

th,
td {
    text-align: center;
    padding: 12px;
    border: 2px solid rgb(238, 222, 191);
}

.today {
    background-color: rgba(122, 122, 122, 0.3) !important;
}

.today:hover {
    background-color: rgba(122, 122, 122, 0.1) !important;
    cursor: pointer;
}

.with-workers {
    background-color: rgba(61, 207, 61, 0.7) !important;
}

.with-workers:hover {
    background-color: rgba(61, 207, 61, 0.1) !important;
    cursor: pointer;
}

.item-hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.item-hover:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.selected {
    box-shadow: 0 0 6px rgba(255, 124, 2, 0.8);
}

.legend-markers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.marker-example {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.date-info {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex: 1 0 0;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    min-height: 500px;
}

.assignment {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 16px;
    border-radius: 12px;
    align-self: stretch;
    flex: 1 0 0;
    cursor: pointer;
}

.assignment:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.info-check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.daily-schedule {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 0 0;
    overflow: auto;
    align-self: stretch;
}

.errors {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 130px;
    overflow: auto;
    background-color: rgba(252, 86, 86, 0.24);
    padding: 12px;
    border-radius: 12px;
}

.collapse-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

.time-input {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.employees {
    display: flex;
    gap: 4px;
    max-height: 100px;
    overflow: auto;
}