::ng-deep app-schedule-employee {
    display: flex;
    flex: 1 0 0;
    align-self: stretch;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex: 1 0 0;
    gap: 24px;
    padding: 24px;
    background-color: rgb(238, 222, 191);
    border-radius: 8px;
}

.schedule {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    flex: 1 0 0;
    padding: 24px;
    justify-content: center;
}

.table-schedule {
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

th, td {
    text-align: center;
    border-radius: 50px;
    padding: 8px;
}

.today {
    background-color: rgba(122, 122, 122, 0.3) !important;
}

.today:hover {
    background-color: rgba(221, 255, 128, 0.5) !important;
    cursor: pointer;
}

.work-day {
    background-color: red;
}

.off-day {
    background-color: gray;
}

.item-hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.item-hover:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}