<div class="modal-body" *ngIf="employee">
    <div class="fw-bold h1">Вашият график,
        <span class="fst-italic theme-main">{{employee.firstName}} {{employee.lastName}}</span>
    </div>
    <div class="schedule">
        <div class="table-schedule">
            <table>
                <thead>
                    <tr class="text-center">
                        <th class="item-hover" colspan="2" (click)="previousMonth()">
                            <i class="fa-solid fa-chevron-left"></i>
                        </th>
                        <th colspan="3">
                            {{currentDate.getMonth() + 1}}/{{currentDate.getFullYear()}}
                        </th>
                        <th class="item-hover" colspan="2" (click)="nextMonth()">
                            <i class="fa-solid fa-chevron-right"></i>
                        </th>
                    </tr>
                    <tr class="text-center text-muted h6 fst-italic">
                        <td *ngFor="let day of weekdays">
                            {{day}}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngFor="let e of [].constructor(7 - getFirstWeekDay(this.currentDate))">
                            -
                        </td>
                        <td class="item-hover"
                            *ngFor="let e of [].constructor(getFirstWeekDay(this.currentDate)); index as i"
                            (click)="test(i + 1)">
                            {{i + 1}}
                        </td>
                    </tr>
                    <tr>
                        <td class="item-hover" *ngFor="let e of [].constructor(7); index as i"
                            (click)="test(getCurrentDay(0, i))">
                            {{getCurrentDay(0, i)}}
                        </td>
                    </tr>
                    <tr>
                        <td class="item-hover" *ngFor="let e of [].constructor(7); index as i"
                            (click)="test(getCurrentDay(1, i))">
                            {{getCurrentDay(1, i)}}
                        </td>
                    </tr>
                    <tr>
                        <td class="item-hover" *ngFor="let e of [].constructor(7); index as i"
                            (click)="test(getCurrentDay(2, i))">
                            {{getCurrentDay(2, i)}}
                        </td>
                    </tr>
                    <tr>
                        <td *ngFor="let flag of outsideMonthFlagsWeek3; let i = index" [id]="getCurrentDay(3, i)"
                            [class.item-hover]="flag" (click)="flag && test(getCurrentDay(3, i))">
                            {{ !flag ? '-' : getCurrentDay(3, i) }}
                        </td>
                    </tr>
                    <tr>
                        <td *ngFor="let flag of outsideMonthFlagsWeek4; let i = index" [id]="getCurrentDay(4, i)"
                            [class.item-hover]="flag" (click)="flag && test(getCurrentDay(4, i))">
                            {{ !flag ? '-' : getCurrentDay(4, i) }}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="button btn-gray" (click)="close()">
            Затваряне
        </button>
    </div>
</div>