<div class="outer">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <div class="h3 pt-3 font-weight-bold">Sign Up</div>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="registerForm" (ngSubmit)="registerManager()" autocomplete="off">
                                <div class="form-group pt-3">
                                    <div class="input-field my-2">
                                        <span class="fa fa-user p-2 my2"></span>
                                        <input formControlName="firstName" type="text" placeholder="First Name">                                       
                                    </div>
                                    <div class="input-field my-2">
                                        <span class="fa fa-user p-2"></span>
                                        <input formControlName="lastName" type="text" placeholder="Last Name">                                       
                                    </div>                                  
                                    <div class="input-field my-2">
                                        <span class="fa fa-envelope p-2"></span>
                                        <input formControlName="email" type="text" placeholder="Email">                                       
                                    </div>
                                                                       
                                    <div class="input-field my-2">
                                        <span class="fa fa-lock p-2"></span>
                                        <input formControlName="password" [type]="type" placeholder="Password">
                                        <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>                                           
                                    </div>
                                </div>
                                <div class="text-center pt-4 text-muted">
                                    <a id="forget" routerLink="/account/registerEmployee">Change to Employee</a>
                                </div>
                                
                                <button type="submit" class="btn btn-primary custom-signup-button btn-block mt-4 w-100">Sign Up</button>
                                <div class="text-center pt-4 text-muted">Already have an account?
                                    <a id="forget" routerLink="/account/login">Log in</a>
                                </div>
                        </form>  
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
