<nav-top></nav-top>
<div class="outer">
    <div class="mx-1 restaurants">
        <div class="roboto text-center my-4">
            <span class="fw-bold font-size-30">
                Вашите ресторанти, {{manager?.firstName}}
                <div class="btn btn-yellow-inverted" (click)="addNewRestaurant()">
                    <i class="fa-solid fa-plus-circle fa-xl"></i>
                </div>
            </span>
        </div>
        <div class="scrollable-vert display-list">
            <div *ngFor="let restaurant of this.manager?.restaurants;">
                <div class="row border-bottom border-top mb-3" (click)="selectedRestaurant(restaurant)"
                    [ngClass]="{'selected': restaurant === currentRestaurant}">
                    <div class="col-6">
                        <img class="rest-img" src="{{restaurant.iconPath}}" (error)="missingIcon(restaurant)">
                    </div>
                    <div class="col-5 roboto font-size-20 my-auto">
                        <div class="fw-bold fst-italic font-size-30 chocolate">{{restaurant.name}}</div>
                        <div class="fst-italic my-2">Адрес: {{restaurant.address}},</div>
                        <div class="fst-italic my-2">Град: {{restaurant.city}}</div>
                        <div class="fw-bold">Категория / Оценка</div>
                        <div class="text-start fst-italic">
                            <div class="my-1">
                                Ястия / <app-star-rating [rating]="restaurant.cuisineAverageRating"></app-star-rating>
                            </div>
                            <div class="my-1">
                                Атмосфера / <app-star-rating
                                    [rating]="restaurant.atmosphereAverageRating"></app-star-rating>
                            </div>
                            <div class="my-1">
                                Работници / <app-star-rating [rating]="restaurant.employeesAverageRating"></app-star-rating>
                            </div>
                            <div class="my-1">
                                Ресторант / <app-star-rating
                                    [rating]="restaurant.restaurantAverageRating"></app-star-rating>
                            </div>
                        </div>         
                        <div class="fw-bold">Работещ: 
                            <span class="fw-normal fst-italic" *ngIf="restaurant.isWorking">Да</span>
                            <span class="fw-normal fst-italic" *ngIf="!restaurant.isWorking">Не</span>
                        </div>    
                    </div>
                    <div class="col-1 text-end pt-1 pe-3" *ngIf="restaurant == currentRestaurant">
                        <div class="btn btn-yellow-inverted" (click)="editRestaurant()">
                            <i class="fa-solid fa-pencil fa-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-1 employees">
        <div class="roboto row my-4">
            <span class="roboto text-center fw-bold font-size-30">Служители в {{currentRestaurant?.name}}</span>
        </div>
        <div class="scrollable-vert display-list">
            <div *ngFor="let employee of this.employees;">
                <div class="row border-bottom employee border-top py-3" (click)="getEmployeeInfo(employee)">
                    <div class="col-3 text-center my-auto">
                        <img class="emp-img" src="{{employee.profilePicturePath}}">
                    </div>
                    <div class="col-7 my-auto">
                        <span class="row roboto text-start fw-bold font-size-25">{{employee.firstName}}
                            {{employee.lastName}}</span>
                        <span class="roboto text-start fst-italic font-size-20">{{employee.email}}, </span>
                        <span
                            class="roboto text-start fst-italic font-size-20">{{employee.employeeAverageRating}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>