.rest-img {
    aspect-ratio: 3/2;
    width: 100% !important;
    background-color: rgb(102, 102, 102);
    clip-path: polygon(0% 0%, 100% 0, 85% 50%, 100% 100%, 0% 100%);
}

.emp-img {
    aspect-ratio: 1/1;
    width: 100px;
    border-radius: 10px;
    box-shadow: 2px 1px 2px black;
}

.item-hover:hover {
    background-color: rgba(220, 220, 220, 0.623);
}

.outer {
    display: flex;
}

.selected {
    background-color: gainsboro;
}

.display-list {
    max-height: 60vh;
    width: 100%;
    border-radius: 4px;
}


@media only screen and (min-height: 600px){
    .display-list {
        max-height: 70vh;
    }
}

/*when screen is more than 1238px, make lists on top of each other*/


@media only screen and (min-height: 910px){
    .display-list {
        max-height: 80vh;
    }
}


.restaurants {
    width: 73%;
}

.employees {
    width: 25%;
}