::ng-deep app-manager-logged-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.rest-img {
    max-width: 300px;
    aspect-ratio: 3/2;
    width: 100% !important;
    object-fit: cover;
    border-radius: 8px 0px 0px 8px;
}

.emp-img {
    max-width: 120px;
    aspect-ratio: 1/1;
    width: 100% !important;
    object-fit: cover;
    border-radius: 8px 0px 0px 8px;
}

.rest-emp-list {
    gap: 12px;
    overflow: scroll;
}

.list-items {
    display: flex;
    align-self: stretch;
}

.restaurant-employee {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    flex: 1 0 0;
    gap: 20px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.336);
    padding-right: 20px;
}

.buttons-info-edit {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.screen-left {
    align-items: flex-start;
}

.restaurant-employee:hover {
    cursor: pointer;
    background-color: rgba(241, 241, 241, 0.8);
}

.content-screen {
    justify-content: flex-start;
    padding-right: 0px;
}

.content {
    padding-bottom: 0px;
    padding-left: 0px;
    overflow: auto;
}

.selected {
    background-color: rgba(241, 241, 241, 0.8);
}

.screen-right {
    justify-content: flex-start;
    align-items: flex-start;
}

.button {
    padding: 8px 12px;
}

.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
}

.heading-with-button {
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-self: stretch;
    flex: 1 0 0;
    align-items: center;
}

.offcanvas {
    background-color: rgba(252, 226, 179, 0.938);
}

.restaurant-info {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    align-self: stretch;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.employee-info-clickable {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-self: stretch;
    flex: 1 0 0;
    align-items: center;
}