<nav-top></nav-top>
<div class="content">
    <div class="content-screen content-screen-fill">
        <div class="text-muted fst-italic h4">
            Всички регистрирани ресторанти
        </div>
        <div class="rest-list screen-left">
            <div class="list-items" *ngFor="let restaurant of allRestaurants">
                <div class="restaurant" (click)="getRestaurantDetails(restaurant.id)">
                    <img class="rest-img" src="{{restaurant.iconPath}}" (error)="missingIcon(restaurant)">
                    <div>
                        <div class="h2 fw-bold">{{restaurant.name}}</div>
                        <div class="h6 text-muted">{{restaurant.address}}</div>
                        <div class="h6 text-muted">{{restaurant.city}}</div>
                    </div>
                    <div>
                        <div class="h5 fw-bold">Средна оценка:
                            <app-star-rating [rating]="restaurant.restaurantAverageRating"></app-star-rating>
                        </div>
                        <div class="fw-bold">Работещ:
                            <span class="fw-normal fst-italic" *ngIf="restaurant.isWorking">Да</span>
                            <span class="fw-normal fst-italic" *ngIf="!restaurant.isWorking">Не</span>
                        </div>
                    </div>
                    <div *ngIf="restaurant.topEmployeeEmail">
                        <div class="fw-bold">Най-добър работник:
                            <div class="fw-normal">{{restaurant.topEmployeeFullName}}</div>
                        </div>
                        <div class="fw-bold">Неговият рейтинг:
                            <div><app-star-rating [rating]="restaurant.topEmployeeRating"></app-star-rating></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>