<div class="modal-content" *ngIf="employee"> <!--check is for easier code writing, not neccesary-->
  <div class="modal-header">
    <h5 class="modal-title roboto fw-bold font-size-40 chocolate">Вашият профил</h5>
  </div>
  <div class="modal-body text-center roboto font-size-20 m-2">
    <span class="row my-4">Здравейте, {{employee.firstName}} {{employee.lastName}}!</span>
    <span class="row my-4">Имейл: {{employee.email}}</span>
    <span class="row my-4">Дата на раждане: {{employeeBirthDate}}</span>
    <span class="row my-4">Град: {{employee.city}}</span>
    <img src="{{employee.profilePictureUrl}}" alt="Все още нямате профилна снимка.">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-chocolate" (click)="editEmployeeProfile()">Редактиране на данните</button>
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Затваряне</button>
  </div>
</div>