::ng-deep app-employee-logged-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.rest-img {
    max-width: 300px;
    aspect-ratio: 3/2;
    width: 100% !important;
    object-fit: cover;
    border-radius: 8px 0px 0px 8px;
}

.screen-left {
    align-items: flex-start;
}

.screen-right {
    justify-content: flex-start;
    align-items: flex-start;
}

.rest-list {
    gap: 12px;
    overflow: scroll;
}

.list-items {
    display: flex;
    align-self: stretch;
}

.restaurant {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    flex: 1 0 0;
    border-radius: 8px;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.336);
    padding-right: 20px;
}

.restaurant:hover {
    background-color: rgba(241, 241, 241, 0.8);
    cursor: pointer;
}

.ratings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px 0px;
}

.content-screen {
    justify-content: flex-start;
}

.content {
    padding-bottom: 0px;
    padding-left: 0px;
    overflow: auto;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.header-info {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
}

.offcanvas {
    background-color: rgba(252, 226, 179, 0.938);
}

.restaurant-info {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    align-self: stretch;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
}

.review {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 12px;
    border-radius: 14px;
    gap: 12px;
}

.review-ratings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.reviews-outer {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex: 1 0 0;
    overflow: auto;
}