<nav-top></nav-top>
<div class="content flex-direction-row">
    <div class="content-screen content-screen-fill">
        <div class="header-info">
            <div class="text-muted fst-italic h4">
                Ресторантите, в които работите
            </div>
            <div tooltip="Вашите оценки">
                <button class="button btn-inverted h4" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasEmployeeInfo" (click)="getEmployeeLastRequests()">
                    <i class="fa-solid fa-chart-line fa-xl"></i>
                </button>
            </div>
        </div>
        <div class="screen-left rest-list">
            <div class="list-items" *ngFor="let restaurant of this.employee?.restaurants;">
                <div class="restaurant" (click)="openRestaurantInfo(restaurant)">
                    <img class="rest-img" src="{{restaurant.iconPath}}" (error)="missingIcon(restaurant)">
                    <div class="restaurant-info">
                        <div>
                            <div class="h2 fw-bold">{{restaurant.name}}</div>
                            <div class="h6 text-muted">{{restaurant.address1}}</div>
                            <div class="h6 text-muted">{{restaurant.address2}}</div>
                        </div>
                        <div>
                            <div class="h5 fw-bold">Средна оценка:
                                <app-star-rating [rating]="restaurant.restaurantAverageRating"></app-star-rating>
                            </div>
                            <div class="fw-bold">Работещ:
                                <span class="fw-normal fst-italic" *ngIf="restaurant.isWorking">Да</span>
                                <span class="fw-normal fst-italic" *ngIf="!restaurant.isWorking">Не</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="this.employee?.restaurants?.length == 0">
                Все още не работите за никой ресторант. Разгледайте всички с бутона в навигационното меню.
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end" id="offcanvasEmployeeInfo">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title fst-italic border-bottom">
                Вашите оценки, {{employee?.firstName}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body" *ngIf="employee">
            <div class="ratings border-bottom">
                <div class="fw-bold">
                    Средно / <app-star-rating [rating]="employee.employeeAverageRating"></app-star-rating>
                </div>
                <div>
                    Бързина / <app-star-rating [rating]="employee.speedAverageRating"></app-star-rating>
                </div>
                <div>
                    Поведение / <app-star-rating [rating]="employee.attitudeAverageRating"></app-star-rating>
                </div>
                <div>
                    Закъснения / <app-star-rating [rating]="employee.punctualityAverageRating"></app-star-rating>
                </div>
                <div>
                    Колегиалност / <app-star-rating [rating]="employee.collegialityAverageRating"></app-star-rating>
                </div>
            </div>
            <div class="fw-bold" *ngIf="employeeReviewsHistory.length > 0">
                Последни оценки
            </div>
            <div class="reviews-outer">
                <div class="review text-muted my-2" *ngFor="let review of employeeReviewsHistory">
                    <div>
                        <span class="fw-bold"> {{review.restaurantName}}, {{review.restaurantCity}} </span>
                        <span> (Тип: {{review.reviewType}}) </span>
                    </div>
                    <div>
                        <p> Коментар: {{review.comment}} </p>
                    </div>
                    <div>
                        <hr>
                        <div class="review-ratings">
                            Закъснение <i class="fa-solid fa-arrow-right"></i> <app-star-rating
                                [rating]="review.punctualityRating" *ngIf="review.punctualityRating"></app-star-rating>
                        </div>
                        <div class="review-ratings">
                            Колегиалност <i class="fa-solid fa-arrow-right"></i> <app-star-rating
                                [rating]="review.collegialityRating"
                                *ngIf="review.collegialityRating"></app-star-rating>
                        </div>
                        <hr>
                        <div class="review-ratings">
                            Поведение <i class="fa-solid fa-arrow-right"></i> <app-star-rating
                                [rating]="review.attitudeRating" *ngIf="review.attitudeRating"></app-star-rating>
                        </div>
                        <div class="review-ratings">
                            Бързина <i class="fa-solid fa-arrow-right"></i> <app-star-rating
                                [rating]="review.speedRating" *ngIf="review.speedRating"></app-star-rating>
                        </div>
                        <hr>
                        <div class="review-ratings">
                            Атмосфера <i class="fa-solid fa-arrow-right"></i> <app-star-rating
                                [rating]="review.atmosphereRating" *ngIf="review.atmosphereRating"></app-star-rating>
                        </div>
                        <div class="review-ratings">
                            Кухня <i class="fa-solid fa-arrow-right"></i> <app-star-rating
                                [rating]="review.cuisineRating" *ngIf="review.cuisineRating"></app-star-rating>
                        </div>
                        <hr>
                        <span class="text-end"> (Дата: {{review.reviewDate}}) </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
