<nav-top></nav-top>
<div class="outer roboto">
    <div class="mx-1 restaurants">
        <div class="text-center my-4">
            <span class="fw-bold font-size-30">
                Ресторантите, в които работите</span>
        </div>
        <div class="scrollable-vert display-list">
            <div *ngFor="let restaurant of this.employee?.restaurants;">
                <div class="row mb-3 restaurant border-bottom border-top" (click)="openRestaurantInfo(restaurant)">
                    <div class="col-6">
                        <img src="{{restaurant.iconPath}}" (error)="missingIcon(restaurant)">
                    </div>
                    <div class="col-5 font-size-20 my-auto">
                        <div class="fw-bold fst-italic font-size-30 chocolate">{{restaurant.name}}</div>
                        <div class="ms-2">
                            <div>Адрес: {{restaurant.address}},</div>
                            <div class="mb-1">Град: {{restaurant.city}}</div>
                        </div>        
                        <div class="fw-bold">Категория / Оценка</div>
                        <div class="text-start fst-italic ms-2">
                            <div class="my-1">
                                Ястия / <app-star-rating [rating]="restaurant.cuisineAverageRating"></app-star-rating>
                            </div>
                            <div class="my-1">
                                Атмосфера / <app-star-rating
                                    [rating]="restaurant.atmosphereAverageRating"></app-star-rating>
                            </div>
                            <div class="my-1">
                                Работници / <app-star-rating [rating]="restaurant.employeesAverageRating"></app-star-rating>
                            </div>
                            <div class="my-1">
                                Ресторант / <app-star-rating
                                    [rating]="restaurant.restaurantAverageRating"></app-star-rating>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-1 info-employee">
        <div class="text-center my-4">
            <span class="fw-bold font-size-30">Вашите оценки, {{employee?.firstName}}</span>
        </div>
        <div class="scrollable-vert display-list border-top p-3" *ngIf="employee">
            <div class="font-size-30 fw-bold chocolate mt-2">
                Средни оценки
            </div>
            <div class="font-size-20 fst-italic ms-2">
                <div class="my-2">
                    Бързина / <app-star-rating [rating]="employee.speedAverageRating"></app-star-rating>
                </div>
                <div class="my-2">
                    Поведение / <app-star-rating [rating]="employee.attitudeAverageRating"></app-star-rating>
                </div>
                <div class="my-2">
                    Закъснения / <app-star-rating [rating]="employee.punctualityAverageRating"></app-star-rating>
                </div>
                <div class="my-2">
                    Колегиалност / <app-star-rating [rating]="employee.collegialityAverageRating"></app-star-rating>
                </div>
                <div class="fw-bold my-2">
                    Средно / <app-star-rating [rating]="employee.employeeAverageRating"></app-star-rating>
                </div>
            </div>
            <div class="font-size-30 fw-bold chocolate mt-5">
                Последни оценки
            </div>
            <div class="fst-italic fw-bold my-1">
                *the posledni ocenki*
            </div>
        </div>
    </div>