.rest-img {
    max-width: 300px;
    aspect-ratio: 3/2;
    width: 100% !important;
    object-fit: cover;
    border-radius: 8px 0px 0px 8px;
}

.restaurant {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    gap: 30px;
    border-radius: 8px;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.336);
    padding-right: 50px;
}

.restaurant:hover {
    background-color: gainsboro;
    cursor: pointer;
}

::ng-deep app-employee-logged-view {
    background-color: rgb(255, 240, 213);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.content-screen {
    justify-content: flex-start;
}