::ng-deep app-review-customer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.content-screen-fill {
    align-items: center;
    justify-content: flex-start;
}

.rate-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: stretch;
    flex: 1 0 0;
}